footer {
    margin-top: 30px;
    padding-top: 20PX;
    width: 100%;
    position: relative;
    font-family: sans-serif;
    height: 30%;
    // background-color: rgb(31, 31, 31);
    background-image: linear-gradient(to top,rgb(31, 31, 31),rgba(0, 0, 0, 0));
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 0.1fr;
    grid-template-areas:
        "logo links initiatives contact"
        "social . . design";
    padding: 25px 1px;
    .logo {
        display: flex;
        padding-left: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: logo;
        padding-left: 1rem;
        padding-top: 0.5rem;
        h4 {
            line-height: 3rem;
            margin-left: 1rem;
            width:clamp(150px,10rem,250px);
            font-size: clamp(15px,rem,40px);
            border-left: 1px solid white;
            padding: 0px 10px;
        }
        .copy {
            padding-top: 0.3rem;
            font-size: 0.7em;
            color: #7d8287;
        }
        .img{
            border-radius: 0px !important;
            padding-top: 0.5rem;
            width: 100px;
            height: 100px;
        }
    }
    .Links {
        padding-top: 30px;
        grid-area: links;
        color: #eef5fc;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style-type: none;
        li {
            margin: 0 10px;
            a {
                // color: #cacec3 !important;
                text-decoration: none;
            }
        }
    }
    .initiatives {
        grid-area: initiatives;
        padding-top: 30px;
        a {
            text-decoration: none;
            color: #cacec3 !important;
        }
    }
    .contact {
        /* border: 1px solid #ccc; */
        max-height: 12rem;
        width: 100%;
        grid-area: contact;
        padding: 30px 0px;
        /* padding-right: .2rem; */
        p {
            display: inline-block;
            font-size: 16px;
            padding-left: 10px;
            margin: 0px -10px;
            padding-top: 1px;
            color: #cecece;
            padding: 3px 10px;
            img {
                display: inline-block;
                margin-right: 10px;
                width: 25px;
                height: 25px;
                border-radius: 0 !important;
            }
        }
        h6 {
            display: flex;
            padding: 1px 50px;
            font-size: 19px;
            font-family: "poppins", sans-serif;
        }
        a {
            text-decoration: none !important;
            color: #eef5fc;
            &:hover{
                color: #e25e06 !important;
            }
        }
    }
    .social {
        grid-area: social;
        padding-left: 1.3rem;
        padding-bottom: 0.3rem;
        font-size: 0.6em;
        display: flex;
        justify-content: center;
        margin: 25px 25px;
        width: 100%;
        a {
            padding: 2px 8px;
            color: #eef5fc;
            display: inline-block;
            /* border: 1px solid red; */
            img {
                width:50px;
                height:30px;
                border-radius: 0 !important;
            }
            img:hover {
                cursor: pointer !important;
                // padding: 2px 4px;
                color: #eef5fc;
                transform: scaleY(1.2);
                filter:drop-shadow(0px 0px 5px #6e6e6e);
            }
        }
    }
    .design {
            grid-area: design;
            font-size: 0.9em;
            display: flex;
            justify-content: center;
            margin-top: 3rem;
            margin-right: 2.5rem;
            span{
                color: #e25e06;
                text-decoration: underline;
            }
     }
}
li {
    list-style: none;
    padding-top: 2%;
    font-size: 0.9em;
}

.flex {
    display: flex;
}

// .img {
//     padding-top: 0.5rem;
//     width: 80px;
//     height: 80px;
// }

.Links a:hover {
    color: #e25e06 !important;
    text-decoration: none;
}

.initiatives a:hover {
    color: #e25e06 !important;
    text-decoration: none;
}


/* footer for mobile devices */

@media screen and (max-width: 968px) {
    footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 0.3fr;
        grid-template-areas:
            "logo logo"
            "links initiatives"
            "contact social"
            "design design";
            width: 100vw;
        .social {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 0;
            padding: 0;
            a img{
                width:30px;
                height: auto;
            }
        }
        .logo {
            padding: 0px;
            margin: 0px;
            width: 100%;
            .img {
                max-width: 100px;
            }
            h4 {
                font-size: medium;
            }
        }
        .design {
            text-align: center;
            margin-inline: 0px;
        }
        .Links {
            display: block;
            // max-width: 100%;
            padding-top: 0px;
             b{
                color:#e25e06;
            }

        }
        .contact {
            padding: 0px;
            margin: 0px;
            width: 100%;
            h6 {
                display: none;
            }
            p {
                font-size: 0.8rem;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .initiatives {
            padding: 0px 0px;
            margin: 0px 0px;
            a {
                font-size: 0.8rem;
                height: 50px;
                line-height: 1;
            }
             b{
                color:#e25e06;
            }
        }
    }
    
    
    
}