.hero-section {
    display: grid;
    grid-template-columns: 3fr 0fr; /* Two equal columns */
    align-items: center;
    padding: 5rem;
    /* background-color: blueviolet; */
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: rgb(165, 77, 77); */
        .left-section .text {
            width: 100%;
            /* background-color: cyan; */
            text-align: left;
            .animate-character {
                font-family: "Poppins", sans-serif; /* Change font to Unbounded */

                text-transform: uppercase;
                background-image: linear-gradient(
                    -225deg,
                    #231557 0%,
                    #44107a 29%,
                    #ff1361 67%,
                    #fff800 100%
                );
                background-size: auto auto;
                background-clip: border-box;
                background-size: 200% auto;
                color: #fff;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation-delay: 1000ms;
                animation: textclip 5s linear infinite;
                display: inline-block;
                font-size: 60px;
                font-weight: 900;
            }
        }
        .right-section {
            /* background-color: chartreuse; */
            display: flex;
            justify-content: center;
        }
    }
}



@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
.text p {
    margin: 40px 0 40px;
    font-size: 18px;
    color: #fff;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    25%,
    75% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }
}
@media screen and (max-width: 776px) {
    .hero-section {
        display: flex;
        padding: 2rem; /* Reduce padding for smaller screens */
        grid-template-columns: 1fr; /* Stack columns on smaller screens */
        .right-section {
            display: block; /* Hide the right section (Lottie animation) */
            position: absolute;
            top:-1000px;
        }
        .container .left-section {
            width:90%;
            .text .animate-character {
                margin-block: 2rem;
                margin-inline: auto;
                font-size: 2em;
                text-align: center;
            }
            a div{
                position: absolute;
                top:-1000px;
            }
            a div canvas {
                display: block; /* Ensure the button is visible */
                position: inherit;
            }
        }
            
    }
}
