.welcome-container{
    padding-top: 5rem;
    width: 100%;
    padding: 12%;
    .welcome-box {
        padding: 2rem;
        background-color: var((--component-background));
        border: 1px solid white;
        border-radius: 10px;
        // box-shadow: 0 4px 8px var(--box-shadow-1);
        text-align: center;
        // width:40%;
        max-width: 740px;
        height: auto;
        margin-inline: auto;
        .welcome-heading, .welcome-heading span{
            font-family: "Poppins", sans-serif;
            font-size: clamp(1.2rem,30px,3rem);
            // color: #fff7f7;
            margin-bottom: 1rem;
        }
        .welcome-paragraph {
            font-family: "Roboto", sans-serif;
            font-size: clamp(0.8rem,18px,1.5rem);
            color: #d8d2d2;
            line-height: 1.7;
        }
    }
}






.title {
    font-size: 2.7rem;
    /* font-weight: 600; */
    font-family: var(--heading-font);
    color: var(--highlight-color);
    margin-bottom: 1rem;
}
